@page "/interop/js"

<PageTitle>Interop (JavaScript)</PageTitle>

<h1>Interop (JavaScript)</h1>

<input type="text" id="messageBox" @bind="MessageValue" />

<input type="button" @onclick="OnShowAlertGlobal" value="Show Alert (global)" />

<input type="button" @onclick="OnShowAlertModule" value="Show Alert (module)" />

@code {
    string MessageValue { get; set; } = "";

    // inject the interop

    [Inject]
    IJSRuntime JS { get; set; } = null!;

    // call a method in javascript

    private async Task OnShowAlertGlobal()
    {
        await JS.InvokeVoidAsync("simplestFunction", MessageValue);
    }

    // load the module

    IJSObjectReference Module { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            Module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/MyInterop.js");
    }

    // call a method in javascript

    private async Task OnShowAlertModule()
    {
        var args = new AlertArgs
            {
                Message = MessageValue,
                Number = 10,
            };

        await Module.InvokeVoidAsync("MyInterop.showAlert", args);
    }

    // a managed type as args

    class AlertArgs
    {
        public string Message { get; set; } = "";

        public int Number { get; set; } = 0;
    }
}
