@page "/native/library/simple"

<PageTitle>Library (Simple)</PageTitle>

<h1>Library (Simple)</h1>

<input type="button" @onclick="OnIncrement" value="Increment" />
<input type="button" @onclick="OnDecrememnt" value="Decrement" />

<p>Value: @myInstance.Value</p>

@code {
    MyClass myInstance = new MyClass();

    private void OnIncrement()
    {
        myInstance.Value++;
    }

    private void OnDecrememnt()
    {
        myInstance.Value--;
    }

    // a C# wrapper class for the C++ class

    unsafe class MyClass : NativeObject
    {
        public MyClass()
            : base(my_class_new())
        {
        }

        public int Value
        {
            get => my_class_get_value(Handle);
            set => my_class_set_value(Handle, value);
        }

        protected override void Dispose(bool disposing) =>
            my_class_delete(Handle);

        // native interop methods

        [DllImport("library")] extern static nint my_class_new();
        [DllImport("library")] extern static void my_class_delete(nint obj);
        [DllImport("library")] extern static int my_class_get_value(nint obj);
        [DllImport("library")] extern static void my_class_set_value(nint obj, int value);
    }
}
