<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor &amp; WASM &amp; C++</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interop/js">
                <span class="oi oi-plus" aria-hidden="true"></span> Interop (JavaScript)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interop/net/static">
                <span class="oi oi-plus" aria-hidden="true"></span> Interop (.NET Static)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interop/net/instance">
                <span class="oi oi-plus" aria-hidden="true"></span> Interop (.NET Instance)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="native/file" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> File
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="native/library/simple">
                <span class="oi oi-plus" aria-hidden="true"></span> Library (Simple)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="native/library/advanced">
                <span class="oi oi-plus" aria-hidden="true"></span> Library (Advanced)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skiasharp/cpu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SkiaSharp CPU
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skiasharp/gpu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SkiaSharp GPU
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
